<div class="position_navbar">
  <nav class="navbar navbar-expand-lg navbar-light  navbar_sticky hide-navbar" #menuRef>
    <a class="navlogo" routerLink="/" > <img class="logo text-centre "  src="logo.png"></a>
    <button class="navbar-toggler" type="button"  (click)="toggleMenu()"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent" [class.show]="isMenuOpen" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/home' routerLinkActive="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/about' routerLinkActive="about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-item"><a routerLink='/financial-modeling' routerLinkActive="services">Financial Modeling</a></li>
            <li class="dropdown-item"><a routerLink='/investment-research' routerLinkActive="services">Investment Research</a></li>
            <li class="dropdown-item"><a routerLink='/dedicated-analyst' routerLinkActive="services">Dedicated Analyst</a></li>
            <li class="dropdown-item"><a routerLink='/bespoke-project' routerLinkActive="services">Bespoke Project</a></li>
            <li class="dropdown-item"><a routerLink='/benchmarking-project' routerLinkActive="services">Benchmarking Project</a></li>
            <li class="dropdown-item"><a routerLink='/financial-consensus' routerLinkActive="services">Financial Consensus</a></li>
            
          </ul>
        </li>
        
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink='/career' routerLinkActive="#">Career</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/case-study' routerLinkActive="#">Case Study</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink='/contact' routerLinkActive="contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
