<div class="services_section layout_padding">
    <div class="container">
     
      <div class="row mt-5 service_view" id="service2">
        <div class="col-md-7" >
          <h1 class="services_taital">Financial Consensus</h1>
          <p class="services_text"> We offer comprehensive financial consensus estimates for listed companies, giving our users access to a clear view of market expectations. Our consensus data is derived from a broad range of analyst forecasts, covering key financial metrics like revenue, EPS, EBITDA, and more.

            <br><br>
            Whether you're an investor, analyst, or corporate professional, our service helps you stay informed with:  <br> <br> 

            <i class="fa-solid fa-check check_tic"></i> Aggregated Analyst Estimates <br> 

            <i class="fa-solid fa-check check_tic"></i> Historical Trends and Comparison      <br>

            <i class="fa-solid fa-check check_tic"></i> Regularly updated data for Accuracy & Relevance    

            <br><br>
            This service is designed to support smarter financial decision-making by providing a reliable snapshot of how the market views a company's future performance.
          </p>
  
        </div>
        <div class="col-md-5 mt-1">
          <div><img src="/financial_consensus.png" class="image_1"></div>
          <div class=""><a class="moremore_bt btn_center request_btn"><a href="mailto:{{business_mail}}">Request</a></a> </div>
        </div>
      </div>
     
    </div>
  </div>
  