span{
  color: #FF8A00 ;
}

.services_title{
  font-size: 2.5rem;
  font-weight: 500;
}

.lower-cards{
  position: relative;
  left: 200px;
}

.fa{
  color: #FCFDFD;
  font-size: 50px;
}

.light_heading{
  font-weight: 600;
}

.fa-circle-dot{
  font-size: 8px;
  font-weight: 600;
  position: relative;
  top: -2.5px;
}

@media screen and (max-width: 768px) { /* Target devices with width ≤ 768px */
  .lower-cards {
   position: relative;
   left:15px;
   width: 100%;
  }
}

