span{
  color: #FF8A00 ;
  font-weight: 400!important;
}

.services_title{
  font-size: 2.5rem;
  font-weight: 500;
}

.lower-cards{
  position: relative;
  left: 200px;
}

.fa{
  color: #FCFDFD;
  font-size: 50px;
}

.light_heading{
  font-weight: 600;
}

.fa-circle-dot{
  font-size: 8px;
  font-weight: 600;
  position: relative;
  top: -2.5px;
}
.title{
  width: 100%;
    float: left;
    font-size: 60px;
    color: #2e2d2e;
    padding-top: 60px;
    font-weight: bold;
}
.title::after{
      content: '';
    background-color: #ff5a58;
    position: absolute;
    width: 60px;
    text-align: center;
    right: initial;
    top: 0px;
    margin: 50PX auto;
    display: flex
;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}

.title_heading{
  width: 100%;
    float: left;
    font-size: 34px;
    color: #282c47;
    padding-top: 10px;

    font-weight: bold;
}

.title_heading::after{
  content: '';
  background-color: #ff5a58;
  position: absolute;
  width: 60px;
  text-align: center;
  right: initial;
  top: 0px;
  margin: 0 auto;
  display: flex
;
  justify-content: center;
  height: 7px;
  left: 0;
  border-radius: 100px;
}


.center_title{
  width: 100%;
  float: left;
  font-size: 34px;
  color: #060606;
  padding-top: 10px;

  font-weight: bold;
  text-align: center;
}


.center_title::after{
  content: '';
    background-color: #ff5a58;
    position: absolute;
    width: 60px;
    text-align: center;
    right: 0;
    top: 0px;
    margin: 0 auto;
    display: flex
;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}


@media screen and (max-width: 768px) { 
  .lower-cards {
   position: relative;
   left:15px;
   width: 100%;
  }
}


