<div class="header_section">
  <div class="header_left">
    <div class="banner_main">
      <h1 class=" title">Fin<span>Crunch</span></h1> 
      <p class="banner_text  mt-5">&nbsp;&nbsp;&nbsp; Fin<span>Crunch</span> your trusted partner for seamless financial research outsourcing, providing expert solutions tailored to your business needs. We specialize in delivering comprehensive market research, industry analysis, data management, and sales support, ensuring that financial institutions, corporations, and market research firms gain valuable insights to drive informed decision-making. <br> <br>
        Our services are designed to empower organizations with reliable, resource-based solutions that enhance operational efficiency and strategic planning. By leveraging our expertise, businesses can access in-depth research, accurate data interpretation, and actionable intelligence, enabling them to stay ahead in competitive markets. <br> <br>
        At FinCrunch, we prioritize precision, reliability, and innovation, helping clients navigate complex financial landscapes with confidence. Whether you require detailed financial reports, competitive benchmarking, or industry trend analysis, our dedicated team ensures that you receive high-quality, data-driven solutions tailored to your specific requirements.
      </p>
      <div class="btn_main">
        <div class="more_bt"><a routerLink="/about" routerLinkActive="about" >Read More </a></div>
        <div class="contact_bt"><a routerLink="/contact" routerLinkActive="contactus">Contact Us</a></div>
      </div>
    </div>
  </div>
  <div class="header_right">
    <img src="banner-img.jpg" class="banner_img ">
  </div>
</div>
<div class="services_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="title_heading">Welcome To Fin<span class="crunch">Crunch</span></h1>
        <p class="services_text">Founded in 2025, Fincrunch blends innovation with precision to deliver fast, reliable financial insights. We take the complexity out of research, empowering businesses with data-driven decisions and smarter strategies. Our expertise fuels sustainable growth, turning challenges into opportunities. More than a service, we're your trusted partner in financial success. </p>
        <a class="moremore_bt btn_center" ><a  routerLink="/about" routerLinkActive="about" >Read More </a></a>
      </div>
      <div class="col-md-4">
        <div><img src="images/img-1.png" class="image_1"></div>
      </div>
    </div>
  </div>
</div>
<!--about section end -->
<!--services section start -->
<div class="what_we_do_section layout_padding">
  <div class="container">
    <h1 class="center_title">Crafting Solutions, Powering Success</h1>
    <p class="what_text">We transform data into insights, empowering smarter investments and business growth. With expert research, modeling, and tailored strategies, we help you stay ahead.</p>
    <div class="what_we_do_section_2">
      <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="box_main">
          <div class="icon_1"><i class=" fa fa-solid fa-money-check-dollar"></i></div>
          <h3 class="accounting_text">Financial Modelling</h3>
          <p class="lorem_text p-1"> Data-driven models (Historical/Plug & Play/Valuation) to optimize investment decisions and business strategies.</p>
          <div class="moremore_bt_1"><a routerLink="/services" routerLinkActive="about">Read More </a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="box_main ">
          <div class="icon_1"><i class="fa fa-brands fa-searchengin"></i></div>
          <h3 class="accounting_text">Investment Research</h3>
          <p class="lorem_text p-1">Our in-depth investment research reports includes fundamental analysis/thesis to guide your investment decisions.</p>
          <div class="moremore_bt_1"><a routerLink="/services" routerLinkActive="about">Read More </a></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="box_main">
          <div class="icon_1"><i class=" fa fa-solid fa-user-tie"></i></div>
          <h3 class="accounting_text">Dedicated Analyst</h3>
          <p class="lorem_text p-1">Get personalized attention with a dedicated analyst to support your business and investment needs. </p>
          <div class="moremore_bt_1"><a routerLink="/services" routerLinkActive="about">Read More </a></div>
        </div>
      </div>
      <div class="mt-5 row lower-cards">
        <div class="col-lg-4 col-sm-6">
          <div class="box_main">
            <div class="icon_1"><i class="fa fa-solid fa-handshake"></i></div>
            <h3 class="accounting_text">Bespoke Project</h3>
            <p class="lorem_text p-1"> Tailored financial solutions designed to meet your unique business needs</p>
            <div class="moremore_bt_1"><a routerLink="/services" routerLinkActive="about">Read More </a></div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="box_main">
            <div class="icon_1"><i class="fa fa-solid fa-chart-line"></i></div>
            <h3 class="accounting_text">Benchmarking Project</h3>
            <p class="lorem_text p-1"> To help you measure performance against industry standards and competitors</p>
            <div class="moremore_bt_1 btn_center"><a routerLink="/services" routerLinkActive="about">Read More </a></div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </div>
</div>
<!--services section end -->
<!--project section start -->
<div class="project_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-7 main_text">
        <div class="project_main">
          <h1 class=" title_heading ">Why Fin<span>Crunch</span> ?</h1>
          <p class="services_text"> FinCrunch is a trusted partner in delivering cutting-edge, data-driven solutions designed to meet the evolving demands of investment decision-making. With a profound understanding of financial markets and a commitment to innovation, we equip our clients with deep analytical insights that drive informed strategies and enhance stakeholder engagement. <br><br>
            With a relentless focus on excellence and tailored solutions, we stand as a catalyst for smarter decision-making, helping our clients transform insights into actionable outcomes.
          </p>
          <p class="services_text">
            <span class="light_heading"><i class="fa-solid fa-check"></i> Tailored Solutions -</span> We design bespoke financial solutions that drive your business forward.<br>
           <span class="light_heading"><i class="fa-solid fa-check"></i> Cost-Effective -</span> We optimize costs wisely, delivering excellence without compromise.<br>
           <span class="light_heading"><i class="fa-solid fa-check"></i> Adaptive Approach -</span> We grow and evolve with you, scaling effortlessly to meet your needs. <br>
            <span class="light_heading"><i class="fa-solid fa-check"></i> Expert Team -</span> Our experts turn insights into strategy, guiding your success.</p>
          <div class="moremore_bt btn_center"><a href="#">Read More </a></div>
          <div class="image_6 btn_img"><img src="images/img-6.png"></div>
        </div>
      </div>
      <div class="col-md-5 ">
        <div class="images_main ">
          <div class="images_left">
            <div class="container_1">
              <img src="why_1.png" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
                <div class="text"><img src="images/search-icon.png"></div>
                <h2 class="fact_text">Established Fact</h2>
              </div>
            </div>
            <div class="container_1">
              <img src="why_2.jpg" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
                <div class="text"><img src="images/search-icon.png"></div>
                <h2 class="fact_text">Established Fact</h2>
              </div>
            </div>
          </div>
          <div class="images_right">
            <div class="container_1">
              <img src="why_3.jpg" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
                <div class="text"><img src="images/search-icon.png"></div>
                <h2 class="fact_text">Established Fact</h2>
              </div>
            </div>
            <div class="container_1">
              <img src="why_4.jpg" alt="Avatar" class="image" style="width:100%">
              <div class="middle">
                <div class="text"><img src="images/search-icon.png"></div>
                <h2 class="fact_text">Established Fact</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home_float_button">
  <a routerLink="/contact" routerLinkActive="contact" class="contact_btn"><i class="fa-regular fa-envelope"></i></a>
</div>
<!-- <div class="project_section_2 layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="icon_1"><img src="images/icon-3.png"></div>
        <h3 class="accounting_text_1">1000+</h3>
        <p class="yers_text">Years of Business</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="icon_1"><img src="images/icon-4.png"></div>
        <h3 class="accounting_text_1">20000+</h3>
        <p class="yers_text">Projects Delivered</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="icon_1"><img src="images/icon-2.png"></div>
        <h3 class="accounting_text_1">10000+</h3>
        <p class="yers_text">Satisfied Customers</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="icon_1"><img src="images/icon-1.png"></div>
        <h3 class="accounting_text_1">1500+</h3>
        <p class="yers_text">Services</p>
      </div>
    </div>
  </div>
</div> -->
<!--project section end -->
<!--team section start -->
<!-- <div class="team_section layout_padding">
  <div class="container">
    <h1 class=" center_title">The Minds Behind Your Success</h1>
    <p class="what_text_1">It is a long established fact that a reader will be distracted by the readable content of a </p>
    <div class="team_section_2 layout_padding">
      <div class="row">
        <div class="col-sm-3">
          <img src="pp.jpg" class="image_7">
          <p class="readable_text">Jhon Doe</p>
          <p class="readable_text_1">Follow Us</p>
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="images/fb-icon.png"></a></li>
              <li><a href="#"><img src="images/twitter-icon.png"></a></li>
              <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <img src="pp.jpg" class="image_7">
          <p class="readable_text">Jhon Doe</p>
          <p class="readable_text_1">Follow Us</p>
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="images/fb-icon.png"></a></li>
              <li><a href="#"><img src="images/twitter-icon.png"></a></li>
              <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <img src="pp.jpg" class="image_7">
          <p class="readable_text">Jhon Doe</p>
          <p class="readable_text_1">Follow Us</p>
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="images/fb-icon.png"></a></li>
              <li><a href="#"><img src="images/twitter-icon.png"></a></li>
              <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <img src="pp.jpg" class="image_7">
          <p class="readable_text">Jhon Doe</p>
          <p class="readable_text_1">Follow Us</p>
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="images/fb-icon.png"></a></li>
              <li><a href="#"><img src="images/twitter-icon.png"></a></li>
              <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="client_section layout_padding">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1 class="center_title">Voices of Trust: Our Clients Speak</h1>
          <div class="client_section_2 layout_padding">
            <ul>
              <li><img src="images/round-1.png" class="round_1"></li>
              <li><img style="width: 250px;" src="pp.jpg" class="image_11"></li>
              <li><img src="images/round-2.png" class="round_2"></li>
            </ul>
            <p class="readable_text">Jhon Doe</p>
            <p class="dummy_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
          </div>
        </div>
        <div class="carousel-item">
          <h1 class="center_title">Voices of Trust: Our Clients Speak</h1>
          <div class="client_section_2 layout_padding">
            <ul>
              <li><img src="images/round-1.png" class="round_1"></li>
              <li><img style="width: 250px;" src="pp.jpg" class="image_11"></li>
              <li><img src="images/round-2.png" class="round_2"></li>
            </ul>
            <p class="readable_text">Jhon Doe</p>
            <p class="dummy_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
          </div>
        </div>
        <div class="carousel-item">
          <h1 class="center_title">Voices of Trust: Our Clients Speak</h1>
          <div class="client_section_2 layout_padding">
            <ul>
              <li><img src="images/round-1.png" class="round_1"></li>
              <li><img style="width: 250px;" src="pp.jpg" class="image_11"></li>
              <li><img src="images/round-2.png" class="round_2"></li>
            </ul>
            <p class="readable_text">Jhon Doe</p>
            <p class="dummy_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
